<div>
  <textarea [(ngModel)]="codeStorage.textInputs[0]" rows="5" cols="40" placeholder="Enter JavaScript Code 1"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.textInputs[1]" rows="5" cols="40" placeholder="Enter JavaScript Code 2"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.textInputs[2]" rows="5" cols="40" placeholder="Enter JavaScript Code 3"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.textInputs[3]" rows="5" cols="40" placeholder="Enter JavaScript Code 4"></textarea>
</div>
