<div>
  <textarea [(ngModel)]="codeStorage.code1" rows="5" cols="40" placeholder="Enter JavaScript Code 1"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.code2" rows="5" cols="40" placeholder="Enter JavaScript Code 2"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.code3" rows="5" cols="40" placeholder="Enter JavaScript Code 3"></textarea>
</div>
<div>
  <textarea [(ngModel)]="codeStorage.code4" rows="5" cols="40" placeholder="Enter JavaScript Code 4"></textarea>
</div>
